
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: gray;
    color: white;
}

canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
